body {
    text-align: center;
    font-family: 'Gugi', cursive;
}

p {
  font-size: 1.5em;
}

.jumbotron {
  background-image: url('https://vignette.wikia.nocookie.net/silent/images/2/28/The_Town_of_Silent_Hill.jpg/revision/latest/scale-to-width-down/640?cb=20140324181620');
  background-size: 100%;
  background-repeat: no-repeat;
  opacity: .6;
}
.btn {
  font-size: 90px;
}
#title {
  color: black;
  text-shadow: 2px 2px white;
  font-size: 8em;
}
